#!/usr/bin/expect

set timeout -1;
spawn /home/dsmr/.virtualenvs/dsmrreader/bin/python3 /home/dsmr/dsmr-reader/manage.py changepassword admin;
expect {
    "Password:" { exp_send "{{adminpass}}\r" ; exp_continue }
    "Password (again):" { exp_send "{{adminpass}}\r" ; exp_continue }
    eof
}